body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

li{
    list-style-type: none;
}



.navbar,
.header,
.footer{
    background-color: #1f2937;
}
