body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

li{
    list-style-type: none;
}

.navbar,
.header,
.footer{
    background-color: #1f2937;
    color: #f9faf8
}

.navbar,
.header,
.mid-container,
.action,
.footer{
    padding-inline:15%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
}

.r_navbar{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 18px;
}

.l_navbar{
    font-weight: bold;
    font-size: 24px;
}

.header{
    padding-block: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.l_header{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.l_header .sign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width: 80px;
    height: 25px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 8px;
    font-weight: bold;
}

.hero{
    font-size: 48px;
    font-weight: extra-bold;
}

.subtext{
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 5px;
}

.r_header{
    min-width: 35%;
    height: 250px;
    /* background-color: rgba(87, 87, 87, 0);
    color: #e5e7eb;
    box-shadow: 0px 0px 20px 3px rgba(148,0,211,1),
    0px 0px 0px 1px rgba(75,0,130,1); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 5%;
}

.item-container{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    padding-bottom: 30px;
}

.pic_placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #3882f6;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

#item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 120px;
}

img{
    width: 120px;
}

#header-logo{
    width: 300px;
    height: 150px;
}

.quote{
    background-color: #e5e7eb;
    font-size: 32px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
    padding-block: 5%;
    padding-inline: 18%;
}

.quotee{
    display: flex;
    font-size: medium;
    justify-content: end;
    color: #1f2937;
    padding-top: 8px;
}

.action{
    padding-block: 5%;
    display: flex;
    justify-content: center;
}

.action-container{
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    max-width: 600px;
    flex: 1 0 auto;
}

.l_action{
    font-size: 20px;
    color: #f9faf8;
}
.l_action .subtext{
    font-size: 14px;
}

.action-container .r_action{
    font-weight: bold;
    color: #f9faf8;
    border: #f9faf8 1px solid;
    width: 80px;
    height: 25px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 25px;
}